src/META-INF/wsdl/localhost_8080/GR1TahsilatUyg/TahsilatBorcWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.gr1tahsilatuyg.ptt.gov.tr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.gr1tahsilatuyg.ptt.gov.tr/" name="TahsilatBorcWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.gr1tahsilatuyg.ptt.gov.tr/" schemaLocation="http://localhost:8080/GR1TahsilatUyg/TahsilatBorcWs?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/GR1TahsilatUyg/TahsilatBorcWs?xsd=2"/>
</xsd:schema>
</types>
<message name="findAllBorcViaKurumIdAndAboneNo">
<part name="parameters" element="tns:findAllBorcViaKurumIdAndAboneNo"/>
</message>
<message name="findAllBorcViaKurumIdAndAboneNoResponse">
<part name="parameters" element="tns:findAllBorcViaKurumIdAndAboneNoResponse"/>
</message>
<message name="chartVerisiGetir">
<part name="parameters" element="tns:chartVerisiGetir"/>
</message>
<message name="chartVerisiGetirResponse">
<part name="parameters" element="tns:chartVerisiGetirResponse"/>
</message>
<message name="kurumAdlariGetir">
<part name="parameters" element="tns:kurumAdlariGetir"/>
</message>
<message name="kurumAdlariGetirResponse">
<part name="parameters" element="tns:kurumAdlariGetirResponse"/>
</message>
<message name="seciliFaturalariOde">
<part name="parameters" element="tns:seciliFaturalariOde"/>
</message>
<message name="seciliFaturalariOdeResponse">
<part name="parameters" element="tns:seciliFaturalariOdeResponse"/>
</message>
<portType name="TahsilatBorcWs">
<operation name="findAllBorcViaKurumIdAndAboneNo">
<input wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/findAllBorcViaKurumIdAndAboneNoRequest" message="tns:findAllBorcViaKurumIdAndAboneNo"/>
<output wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/findAllBorcViaKurumIdAndAboneNoResponse" message="tns:findAllBorcViaKurumIdAndAboneNoResponse"/>
</operation>
<operation name="chartVerisiGetir">
<input wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/chartVerisiGetirRequest" message="tns:chartVerisiGetir"/>
<output wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/chartVerisiGetirResponse" message="tns:chartVerisiGetirResponse"/>
</operation>
<operation name="kurumAdlariGetir">
<input wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/kurumAdlariGetirRequest" message="tns:kurumAdlariGetir"/>
<output wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/kurumAdlariGetirResponse" message="tns:kurumAdlariGetirResponse"/>
</operation>
<operation name="seciliFaturalariOde">
<input wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/seciliFaturalariOdeRequest" message="tns:seciliFaturalariOde"/>
<output wsam:Action="http://ws.gr1tahsilatuyg.ptt.gov.tr/TahsilatBorcWs/seciliFaturalariOdeResponse" message="tns:seciliFaturalariOdeResponse"/>
</operation>
</portType>
<binding name="TahsilatBorcWsPortBinding" type="tns:TahsilatBorcWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllBorcViaKurumIdAndAboneNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="chartVerisiGetir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kurumAdlariGetir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seciliFaturalariOde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TahsilatBorcWs">
<port name="TahsilatBorcWsPort" binding="tns:TahsilatBorcWsPortBinding">
<soap:address location="http://localhost:8080/GR1TahsilatUyg/TahsilatBorcWs"/>
</port>
</service>
</definitions>